[user]
	name = Denis Kiselev
	email = denis.kiselyov@gmail.com
[alias]
	c = commit -m
	ca = commit -am
	ci = commit

	co = checkout
	nb = checkout -B

	lb = branch -l
	rb = branch -D
[pager]
	branch = false
[init]
	defaultBranch = master
[core]
	pager = less -FX
	autocrlf = input
